In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('dataset/mlbsalaries.csv')

In [5]:
print("Total Rows=",df.shape[0],"\nToatal Columns",df.shape[1])

Total Rows= 19543
Toatal Columns 5

In [6]:
df.columns #Display Columns Name

Index(['Year', 'Player', 'Salary', 'Position', 'Team'], dtype='object')

In [7]:
df.sort_values('Salary',ascending=True)[:1]


#Low Salary Records

     Year       Player  Salary Position           Team
497  1988  Jose Cecena   62500  Pitcher  Texas Rangers

In [8]:
df.sort_values('Salary',ascending=False)[:1] 


#Maximum Salary Records

       Year          Player    Salary       Position              Team
17846  2009  Alex Rodriguez  33000000  Third Baseman  New York Yankees

In [9]:
df['Salary'].max()

33000000

In [10]:
df['Salary'].min()

62500

In [12]:
m=df.groupby('Team') #Show alll records Team Wise

In [13]:
m

In [14]:
for Team, data in m:
    print('Team',Team)
    print('\n')
    print('data:',data)

Team Arizona Diamondbacks


data:        Year            Player   Salary       Position                  Team
7951   1998        Andy Benes  6000000        Pitcher  Arizona Diamondbacks
7952   1998          Jay Bell  5000000      Shortstop  Arizona Diamondbacks
7953   1998  Matt D. Williams  4500000  Third Baseman  Arizona Diamondbacks
7954   1998       Devon White  3500000     Outfielder  Arizona Diamondbacks
7955   1998      Willie Blair  3250000        Pitcher  Arizona Diamondbacks
...     ...               ...      ...            ...                   ...
18949  2011        Dan Hudson   419000        Pitcher  Arizona Diamondbacks
18950  2011     Barry Enright   418000        Pitcher  Arizona Diamondbacks
18951  2011      Samuel Demel   417000        Pitcher  Arizona Diamondbacks
18952  2011      Kam Mickolio   417000        Pitcher  Arizona Diamondbacks
18953  2011      Joe Paterson   414000        Pitcher  Arizona Diamondbacks

[389 rows x 5 columns]
Team Atlanta Braves


data:        Year              Player   Salary        Position            Team
104    1988         Dale Murphy  2000000      Outfielder  Atlanta Braves
105    1988        Bruce Sutter  1729167         Pitcher  Atlanta Braves
106    1988        Ozzie Virgil   900000         Catcher  Atlanta Braves
107    1988         Rick Mahler   837500         Pitcher  Atlanta Braves
108    1988      Bruce Benedict   715000         Catcher  Atlanta Braves
...     ...                 ...      ...             ...             ...
18840  2011  Cristhian Martinez   419000         Pitcher  Atlanta Braves
18841  2011      Brandon Beachy   416500         Pitcher  Atlanta Braves
18842  2011     Freddie Freeman   414000   First Baseman  Atlanta Braves
18843  2011       Brandon Hicks   414000       Shortstop  Atlanta Braves
18844  2011       Matt E. Young   414000  Second Baseman  Atlanta Braves

[683 rows x 5 columns]
Team Baltimore Orioles


data:        Year          Player   Salary       Position               Team
373    1988    Eddie Murray  2142904  First Baseman  Baltimore Orioles
374    1988  Cal Ripken Jr.  1710000      Shortstop  Baltimore Orioles
375    1988   Terry Kennedy   850000        Catcher  Baltimore Orioles
376    1988  Tom Niedenfuer   850000        Pitcher  Baltimore Orioles
377    1988        Don Aase   675000        Pitcher  Baltimore Orioles
...     ...             ...      ...            ...                ...
19174  2011    Jason Berken   426500        Pitcher  Baltimore Orioles
19175  2011        Jake Fox   424000  First Baseman  Baltimore Orioles
19176  2011   Robert Andino   421500      Infielder  Baltimore Orioles
19177  2011    Jake Arrieta   419000        Pitcher  Baltimore Orioles
19178  2011   Chris Tillman   417000        Pitcher  Baltimore Orioles

[684 rows x 5 columns]
Team Boston Red Sox


data:        Year            Player   Salary        Position            Team
528    1988          Jim Rice  2214865      Outfielder  Boston Red Sox
529    1988        Wade Boggs  1700000   Third Baseman  Boston Red Sox
530    1988      Dwight Evans  1600000      Outfielder  Boston Red Sox
531    1988     Roger Clemens  1500000         Pitcher  Boston Red Sox
532    1988       Bob Stanley  1060000         Pitcher  Boston Red Sox
...     ...               ...      ...             ...             ...
19376  2011     Clay Buchholz   555000         Pitcher  Boston Red Sox
19377  2011       Daniel Bard   505000         Pitcher  Boston Red Sox
19378  2011  Darnell McDonald   470000      Outfielder  Boston Red Sox
19379  2011        Jed Lowrie   450000  Second Baseman  Boston Red Sox
19380  2011    Felix Doubront   417000         Pitcher  Boston Red Sox

[692 rows x 5 columns]
Team Chicago Cubs


data:        Year           Player   Salary    Position          Team
184    1988   Rick Sutcliffe  2070000     Pitcher  Chicago Cubs
185    1988     Andre Dawson  1900000  Outfielder  Chicago Cubs
186    1988       Jody Davis  1108333     Catcher  Chicago Cubs
187    1988    Goose Gossage  1100000     Pitcher  Chicago Cubs
188    1988  Scott Sanderson   950000     Pitcher  Chicago Cubs
...     ...              ...      ...         ...           ...
18922  2011     Tyler Colvin   440000  Outfielder  Chicago Cubs
18923  2011   Andrew Cashner   427500     Pitcher  Chicago Cubs
18924  2011    James Russell   427500     Pitcher  Chicago Cubs
18925  2011    Darwin Barney   417000   Shortstop  Chicago Cubs
18926  2011     Marcos Mateo   417000     Pitcher  Chicago Cubs

[663 rows x 5 columns]
Team Chicago White Sox


data:        Year             Player   Salary        Position               Team
632    1988      Harold Baines  1000000      Outfielder  Chicago White Sox
633    1988       Carlton Fisk   700000         Catcher  Chicago White Sox
634    1988        Greg Walker   682452   First Baseman  Chicago White Sox
635    1988      Ozzie Guillen   537500       Shortstop  Chicago White Sox
636    1988        Jerry Reuss   400000         Pitcher  Chicago White Sox
...     ...                ...      ...             ...                ...
19508  2011     Gordon Beckham   485000  Second Baseman  Chicago White Sox
19509  2011      Sergio Santos   435000         Pitcher  Chicago White Sox
19510  2011  Brent Lillibridge   430000  Second Baseman  Chicago White Sox
19511  2011         Chris Sale   425000         Pitcher  Chicago White Sox
19512  2011        Brent Morel   414000   Third Baseman  Chicago White Sox

[648 rows x 5 columns]
Team Cincinnati Reds


data:        Year          Player   Salary       Position             Team
500    1988     Leon Durham  1383333  First Baseman  Cincinnati Reds
501    1988      Eric Davis   899000     Outfielder  Cincinnati Reds
502    1988         Bo Diaz   850000        Catcher  Cincinnati Reds
503    1988     John Franco   675000        Pitcher  Cincinnati Reds
504    1988     Nick Esasky   460000  First Baseman  Cincinnati Reds
...     ...             ...      ...            ...              ...
19349  2011  Logan Ondrusek   418000        Pitcher  Cincinnati Reds
19350  2011    Jordan Smith   416500        Pitcher  Cincinnati Reds
19351  2011    Matt Maloney   415000        Pitcher  Cincinnati Reds
19352  2011  Juan Francisco   414000  Third Baseman  Cincinnati Reds
19353  2011      Sam Lecure   414000        Pitcher  Cincinnati Reds

[681 rows x 5 columns]
Team Cleveland Indians


data:        Year           Player  Salary        Position               Team
268    1988     Julio Franco  975000  Second Baseman  Cleveland Indians
269    1988    Willie Upshaw  900000   First Baseman  Cleveland Indians
270    1988       Joe Carter  840000      Outfielder  Cleveland Indians
271    1988         Mel Hall  825000      Outfielder  Cleveland Indians
272    1988     Brook Jacoby  812500   Third Baseman  Cleveland Indians
...     ...              ...     ...             ...                ...
19036  2011   Carlos Santana  416600         Catcher  Cleveland Indians
19037  2011  Carlos Carrasco  415800         Pitcher  Cleveland Indians
19038  2011   Justin Germano  415600         Pitcher  Cleveland Indians
19039  2011   Vinnie Pestano  414100         Pitcher  Cleveland Indians
19040  2011    Jared Goedert  414000       Infielder  Cleveland Indians

[693 rows x 5 columns]
Team Colorado Rockies


data:        Year            Player   Salary        Position              Team
4463   1993     Charlie Hayes  1200000   Third Baseman  Colorado Rockies
4464   1993    Dante Bichette   725000      Outfielder  Colorado Rockies
4465   1993      Jeff Parrett   725000         Pitcher  Colorado Rockies
4466   1993      Jerald Clark   690000      Outfielder  Colorado Rockies
4467   1993       Joe Girardi   670000         Catcher  Colorado Rockies
...     ...               ...      ...             ...               ...
19402  2011      Jose Morales   420000         Catcher  Colorado Rockies
19403  2011    Jhoulys Chacin   419000         Pitcher  Colorado Rockies
19404  2011  Jonathan Herrera   419000  Second Baseman  Colorado Rockies
19405  2011      Esmil Rogers   417000         Pitcher  Colorado Rockies
19406  2011     Matt Reynolds   415000         Pitcher  Colorado Rockies

[528 rows x 5 columns]
Team Detroit Tigers


data:        Year               Player   Salary        Position            Team
578    1988          Jack Morris  1988000         Pitcher  Detroit Tigers
579    1988            Fred Lynn  1790000      Outfielder  Detroit Tigers
580    1988  Guillermo Hernandez  1210000         Pitcher  Detroit Tigers
581    1988         Frank Tanana  1100000         Pitcher  Detroit Tigers
582    1988        Alan Trammell  1000000       Shortstop  Detroit Tigers
...     ...                  ...      ...             ...             ...
19456  2011            Don Kelly   423000      Outfielder  Detroit Tigers
19457  2011          Will Rhymes   419000  Second Baseman  Detroit Tigers
19458  2011     Daniel Schlereth   418000         Pitcher  Detroit Tigers
19459  2011         Casper Wells   418000      Outfielder  Detroit Tigers
19460  2011    Brayan Villarreal   414000         Pitcher  Detroit Tigers

[676 rows x 5 columns]
Team Florida Marlins


data:        Year            Player   Salary       Position             Team
4186   1993      Bryan Harvey  4125000        Pitcher  Florida Marlins
4187   1993   Benito Santiago  3400000        Catcher  Florida Marlins
4188   1993  Orestes Destrade  2000000  First Baseman  Florida Marlins
4189   1993      Junior Felix  1250000     Outfielder  Florida Marlins
4190   1993    Jack Armstrong   854545        Pitcher  Florida Marlins
...     ...               ...      ...            ...              ...
19092  2011     Scott Cousins   414000     Outfielder  Florida Marlins
19093  2011      Michael Dunn   414000        Pitcher  Florida Marlins
19094  2011       Brett Hayes   414000        Catcher  Florida Marlins
19095  2011    Logan Morrison   414000     Outfielder  Florida Marlins
19096  2011         Ryan Webb   414000        Pitcher  Florida Marlins

[533 rows x 5 columns]
Team Houston Astros


data:        Year              Player   Salary       Position            Team
26     1988          Nolan Ryan  1200000        Pitcher  Houston Astros
27     1988          Dave Smith  1100000        Pitcher  Houston Astros
28     1988         Bob Knepper  1025000        Pitcher  Houston Astros
29     1988          Terry Puhl   950000     Outfielder  Houston Astros
30     1988      Rafael Ramirez   950000      Shortstop  Houston Astros
...     ...                 ...      ...            ...             ...
18755  2011       Mark Melancon   421000        Pitcher  Houston Astros
18756  2011       Fernando Abad   418000        Pitcher  Houston Astros
18757  2011       Brett Wallace   418000  First Baseman  Houston Astros
18758  2011  Enerio Del Rosario   417000        Pitcher  Houston Astros
18759  2011    Aneury Rodriguez   414000        Pitcher  Houston Astros

[660 rows x 5 columns]
Team Kansas City Royals


data:        Year             Player   Salary       Position                Team
554    1988       George Brett  2138661  First Baseman  Kansas City Royals
555    1988      Willie Wilson  1383712     Outfielder  Kansas City Royals
556    1988  Charlie Leibrandt  1250000        Pitcher  Kansas City Royals
557    1988    Bret Saberhagen  1150000        Pitcher  Kansas City Royals
558    1988    Floyd Bannister   950000        Pitcher  Kansas City Royals
...     ...                ...      ...            ...                 ...
19429  2011    Jeremy Jeffress   414500        Pitcher  Kansas City Royals
19430  2011        Nate Adcock   414000        Pitcher  Kansas City Royals
19431  2011      Henry Barrera   414000        Pitcher  Kansas City Royals
19432  2011        Tim Collins   414000        Pitcher  Kansas City Royals
19433  2011       Jarrod Dyson   414000     Outfielder  Kansas City Royals

[674 rows x 5 columns]
Team Los Angeles Angels


data:        Year           Player   Salary           Position                Team
0      1988        Mike Witt  1400000            Pitcher  Los Angeles Angels
1      1988  George Hendrick   989333         Outfielder  Los Angeles Angels
2      1988      Chili Davis   950000         Outfielder  Los Angeles Angels
3      1988    Brian Downing   900000  Designated Hitter  Los Angeles Angels
4      1988        Bob Boone   883000            Catcher  Los Angeles Angels
...     ...              ...      ...                ...                 ...
18726  2011     Michael Kohn   414000            Pitcher  Los Angeles Angels
18727  2011     Chris Pettit   414000         Outfielder  Los Angeles Angels
18728  2011  Freddy Sandoval   414000      Third Baseman  Los Angeles Angels
18729  2011      Mark Trumbo   414000      First Baseman  Los Angeles Angels
18730  2011    Jordan Walden   414000            Pitcher  Los Angeles Angels

[695 rows x 5 columns]
Team Los Angeles Dodgers


data:        Year               Player   Salary    Position                 Team
211    1988  Fernando Valenzuela  2050000     Pitcher  Los Angeles Dodgers
212    1988          Kirk Gibson  1833333  Outfielder  Los Angeles Dodgers
213    1988       Orel Hershiser  1100000     Pitcher  Los Angeles Dodgers
214    1988           John Tudor  1100000     Pitcher  Los Angeles Dodgers
215    1988         Jesse Orosco  1000000     Pitcher  Los Angeles Dodgers
...     ...                  ...      ...         ...                  ...
18979  2011       Hector Gimenez   425000     Catcher  Los Angeles Dodgers
18980  2011           A.J. Ellis   421000     Catcher  Los Angeles Dodgers
18981  2011          Xavier Paul   419500  Outfielder  Los Angeles Dodgers
18982  2011        Kenley Jansen   416000     Pitcher  Los Angeles Dodgers
18983  2011         Ivan DeJesus   414000   Shortstop  Los Angeles Dodgers

[698 rows x 5 columns]
Team Milwaukee Brewers


data:        Year            Player   Salary        Position               Team
130    1988      Paul Molitor  1775000   Third Baseman  Milwaukee Brewers
131    1988       Robin Yount  1200000      Outfielder  Milwaukee Brewers
132    1988     Teddy Higuera  1025000         Pitcher  Milwaukee Brewers
133    1988       Jim Gantner   937500  Second Baseman  Milwaukee Brewers
134    1988   Jeffrey Leonard   900000      Outfielder  Milwaukee Brewers
...     ...               ...      ...             ...                ...
18870  2011     Mitch Stetter   427000         Pitcher  Milwaukee Brewers
18871  2011     Zach Braddock   424000         Pitcher  Milwaukee Brewers
18872  2011   Jonathan Lucroy   424000         Catcher  Milwaukee Brewers
18873  2011     Erick Almonte   414000       Infielder  Milwaukee Brewers
18874  2011  Brandon Kintzler   414000         Pitcher  Milwaukee Brewers

[690 rows x 5 columns]
Team Minnesota Twins


data:        Year          Player   Salary        Position             Team
604    1988     Frank Viola  1500000         Pitcher  Minnesota Twins
605    1988     Gary Gaetti  1425000   Third Baseman  Minnesota Twins
606    1988      Kent Hrbek  1410000   First Baseman  Minnesota Twins
607    1988   Kirby Puckett  1090000      Outfielder  Minnesota Twins
608    1988   Bert Blyleven  1000000         Pitcher  Minnesota Twins
...     ...             ...      ...             ...              ...
19481  2011  Danny Valencia   437500   Third Baseman  Minnesota Twins
19482  2011     Drew Butera   429000         Catcher  Minnesota Twins
19483  2011    Dusty Hughes   429000         Pitcher  Minnesota Twins
19484  2011    Matt Tolbert   425000  Second Baseman  Minnesota Twins
19485  2011    Jeff Manship   419000         Pitcher  Minnesota Twins

[650 rows x 5 columns]
Team New York Mets


data:        Year             Player   Salary        Position           Team
321    1988        Gary Carter  2360714         Catcher  New York Mets
322    1988    Keith Hernandez  1850000   First Baseman  New York Mets
323    1988      Dwight Gooden  1400000         Pitcher  New York Mets
324    1988  Darryl Strawberry  1345000      Outfielder  New York Mets
325    1988        Ron Darling  1000000         Pitcher  New York Mets
...     ...                ...      ...             ...            ...
19119  2011         Josh Thole   420000         Catcher  New York Mets
19120  2011        Pedro Beato   414000         Pitcher  New York Mets
19121  2011         Lucas Duda   414000      Outfielder  New York Mets
19122  2011         Brad Emaus   414000  Second Baseman  New York Mets
19123  2011       Mike Nickeas   414000         Catcher  New York Mets

[676 rows x 5 columns]
Team New York Yankees


data:        Year            Player   Salary        Position              Team
659    1988        Jack Clark  2000000      Outfielder  New York Yankees
660    1988     Don Mattingly  2000000   First Baseman  New York Yankees
661    1988     Dave Winfield  1983652      Outfielder  New York Yankees
662    1988  Rickey Henderson  1770000      Outfielder  New York Yankees
663    1988     Dave Righetti  1300000         Pitcher  New York Yankees
...     ...               ...      ...             ...               ...
19538  2011    Gustavo Molina   455000         Catcher  New York Yankees
19539  2011         Ivan Nova   432900         Pitcher  New York Yankees
19540  2011      Colin Curtis   420400      Outfielder  New York Yankees
19541  2011     Eduardo Nunez   419300       Shortstop  New York Yankees
19542  2011     Reegie Corona   414000  Second Baseman  New York Yankees

[685 rows x 5 columns]
Team Oakland Athletics


data:        Year            Player   Salary       Position               Team
51     1988   Carney Lansford  1535000  Third Baseman  Oakland Athletics
52     1988       Dave Parker  1000000     Outfielder  Oakland Athletics
53     1988         Bob Welch   937500        Pitcher  Oakland Athletics
54     1988    Rick Honeycutt   855000        Pitcher  Oakland Athletics
55     1988  Dennis Eckersley   700000        Pitcher  Oakland Athletics
...     ...               ...      ...            ...                ...
18783  2011     Jerry Blevins   420000        Pitcher  Oakland Athletics
18784  2011  Giovany Gonzalez   420000        Pitcher  Oakland Athletics
18785  2011  Cliff Pennington   420000      Shortstop  Oakland Athletics
18786  2011     Landon Powell   420000        Catcher  Oakland Athletics
18787  2011        Bob Cramer   414000        Pitcher  Oakland Athletics

[674 rows x 5 columns]
Team Philadelphia Phillies


data:        Year            Player   Salary        Position                   Team
421    1988      Mike Schmidt  2250000   Third Baseman  Philadelphia Phillies
422    1988         Von Hayes  1300000   First Baseman  Philadelphia Phillies
423    1988       Juan Samuel  1060000  Second Baseman  Philadelphia Phillies
424    1988     Lance Parrish  1000000         Catcher  Philadelphia Phillies
425    1988   Steve Bedrosian   925000         Pitcher  Philadelphia Phillies
...     ...               ...      ...             ...                    ...
19235  2011      Brian Bocock   414000       Shortstop  Philadelphia Phillies
19236  2011     Domonic Brown   414000      Outfielder  Philadelphia Phillies
19237  2011  Michael Martinez   414000  Second Baseman  Philadelphia Phillies
19238  2011     John Mayberry   414000      Outfielder  Philadelphia Phillies
19239  2011   Brian Schlitter   414000         Pitcher  Philadelphia Phillies

[695 rows x 5 columns]
Team Pittsburgh Pirates


data:        Year            Player  Salary       Position                Team
447    1988    Andy Van Slyke  850000     Outfielder  Pittsburgh Pirates
448    1988      Glenn Wilson  850000     Outfielder  Pittsburgh Pirates
449    1988     Ken Oberkfell  725000  Third Baseman  Pittsburgh Pirates
450    1988          Jim Gott  500000        Pitcher  Pittsburgh Pirates
451    1988  Jeff D. Robinson  475000        Pitcher  Pittsburgh Pirates

In [16]:
df[df.Position=='Pitcher'] #Show all Player name which position= Pitcher

       Year           Player   Salary Position                Team
0      1988        Mike Witt  1400000  Pitcher  Los Angeles Angels
6      1988        Dan Petry   785000  Pitcher  Los Angeles Angels
9      1988      Greg Minton   525000  Pitcher  Los Angeles Angels
12     1988   Kirk McCaskill   262000  Pitcher  Los Angeles Angels
15     1988    Willie Fraser   125000  Pitcher  Los Angeles Angels
...     ...              ...      ...      ...                 ...
19532  2011      Boone Logan  1200000  Pitcher    New York Yankees
19533  2011    Bartolo Colon   900000  Pitcher    New York Yankees
19534  2011       Luis Ayala   650000  Pitcher    New York Yankees
19536  2011  David Robertson   460450  Pitcher    New York Yankees
19539  2011        Ivan Nova   432900  Pitcher    New York Yankees

[9160 rows x 5 columns]

In [17]:
df.isnull().sum() #Show all missing records

Year        0
Player      0
Salary      0
Position    0
Team        0
dtype: int64

In [18]:
m.Salary.sum() #Show Team wise Salary Total

Team
Arizona Diamondbacks      946201895
Atlanta Braves           1542085753
Baltimore Orioles        1298762402
Boston Red Sox           1930916542
Chicago Cubs             1553704710
Chicago White Sox        1345835356
Cincinnati Reds          1096955520
Cleveland Indians        1131273056
Colorado Rockies         1024537935
Detroit Tigers           1299947476
Florida Marlins           655397557
Houston Astros           1255881249
Kansas City Royals        902090903
Los Angeles Angels       1451520771
Los Angeles Dodgers      1639707332
Milwaukee Brewers         969994869
Minnesota Twins           975014771
New York Mets            1750206095
New York Yankees         2599882202
Oakland Athletics         950914242
Philadelphia Phillies    1407873063
Pittsburgh Pirates        734547656
San Diego Padres          937123511
San Francisco Giants     1382126239
Seattle Mariners         1391042325
St. Louis Cardinals      1404586805
Tampa Bay Rays            577415784
Texas Rangers            1305703785
Toronto Blue Jays        1229932314
Washington Nationals      769172205
Name: Salary, dtype: int64

In [19]:
m.Player.count() # Count All Player Team Wise

Team
Arizona Diamondbacks     389
Atlanta Braves           683
Baltimore Orioles        684
Boston Red Sox           692
Chicago Cubs             663
Chicago White Sox        648
Cincinnati Reds          681
Cleveland Indians        693
Colorado Rockies         528
Detroit Tigers           676
Florida Marlins          533
Houston Astros           660
Kansas City Royals       674
Los Angeles Angels       695
Los Angeles Dodgers      698
Milwaukee Brewers        690
Minnesota Twins          650
New York Mets            676
New York Yankees         685
Oakland Athletics        674
Philadelphia Phillies    695
Pittsburgh Pirates       669
San Diego Padres         673
San Francisco Giants     678
Seattle Mariners         684
St. Louis Cardinals      693
Tampa Bay Rays           398
Texas Rangers            711
Toronto Blue Jays        683
Washington Nationals     687
Name: Player, dtype: int64

In [20]:
df.Team.unique() #Show no. of Unique Teams

array(['Los Angeles Angels', 'Houston Astros', 'Oakland Athletics',
       'Toronto Blue Jays', 'Atlanta Braves', 'Milwaukee Brewers',
       'St. Louis Cardinals', 'Chicago Cubs', 'Los Angeles Dodgers',
       'San Francisco Giants', 'Cleveland Indians', 'Seattle Mariners',
       'New York Mets', 'Washington Nationals', 'Baltimore Orioles',
       'San Diego Padres', 'Philadelphia Phillies', 'Pittsburgh Pirates',
       'Texas Rangers', 'Cincinnati Reds', 'Boston Red Sox',
       'Kansas City Royals', 'Detroit Tigers', 'Minnesota Twins',
       'Chicago White Sox', 'New York Yankees', 'Florida Marlins',
       'Colorado Rockies', 'Arizona Diamondbacks', 'Tampa Bay Rays'],
      dtype=object)

In [21]:
df.Team.nunique()

30